body {
  background-color: #2d2e34;
  color: #cdced6;
  font-family: "Courier New", Courier, monospace, sans-serif;
  margin: 0;
  padding: 2% 0% 0% 3%;
  font-size: 1em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

header {
  background-color: #27282a;
  padding: 10px;
}

form {
  justify-content: left;
  padding: 5px;
  margin: 2em 3em 5em 3em;
  line-height: 2em;
  font-size: 1.1em;
  font-weight: bold;
}

label {
  display: inline-block;
  text-align: right;
}

input {
  display: inline-block;
  padding: 1em;
  min-width: 50vw;
  min-height: 1vh;
  font-family: inherit;
  font-size: 1em;
  margin: 5px 0px 0px 2px;
}

.imgSize {
  display: inline;
  margin-right: 10px;
  width: 50vw;
}

#home-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  color: #eaecf5;
}

#home-menu li {
  display: inline;
  margin-right: 10px;
}

#home-menu li a {
  color: #eee;
  text-decoration: none;
}

.tile {
  height: 250px;
  background: #111111;
  border: 5px solid #444444;
  cursor: pointer;
}

#board {
  margin: 48px auto;
  width: 40vw;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  box-sizing: border-box;
  justify-content: flex-end;
}

.blur {
  flex-grow: 1;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.error-messages {
  color: rgb(238, 91, 159);
  font-family: "Courier New", Courier, monospace, sans-serif;
  font-weight: bold;
  margin: 0;
  font-size: 1.1em;
}
